astroid
certifi
charset-normalizer
decorator
idna
imageio
imageio-ffmpeg
isort
jedi
lazy-object-proxy
mccabe
moviepy==1.0.3
numpy
parso
pika
Pillow
platformdirs
proglog
pylint
pymongo
requests
toml
tqdm
urllib3
wrapt
